* {
    color: Black;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-family: "Meiryo UI", sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    color: Blue;
}

a:hover, a:active {
    color: Red;
    text-decoration: underline;
}
