address, article, aside, footer, header, h1, h2, h3, h4, h5, h6, main, nav, section,
blockquote, dd, div, dl, dt, figcaption, figure, hr, li, ol, p, pre, ul,
a, abbr, b, cite, code, kbd, mark, q,
caption, col, colgroup, table, tbody, td, tfoot, th, thead, tr,
button, datalist, fieldset, form, input, label, legend, meter, optgroup, progress, select, textarea,
html, body {
    color: Black;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-family: "Meiryo UI", sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: 0;
}

/***************************************************************************/
/* 2 column design (automatically fallback to 1 column for mobile devices) */
body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#container {
    flex-shrink: 1;
    min-width: 1px;
    max-width: calc(896px + 256px);
    display: flex;
    flex-wrap: wrap;
}

#container > header {
    flex-basis: 100%;
    flex-grow: 1;
    height: 96px;
}

#container > main {
    flex-basis: 0;
    flex-grow: 999;
    flex-shrink: 1;
    min-inline-size: 896px;
}

#container > aside {
    flex-basis: 256px;
    flex-grow: 1;
    flex-shrink: 0;
}

body > nav {
    order: -1;
    position: sticky;
    top: 0;
    width: 100%;
}

body > footer {
    width: 100%;
}

/***************************************************************************/
/* background */
body {
    background-color: #ccffee;
}

/***************************************************************************/
/* global navigation */
body > nav {
    display: flex;
    flex-direction: row-reverse;
    padding: 4px 16px 8px 0;
    background-color: #99cccc;
    box-shadow: inset 0 -2px 4px #ccffee;
}

body > nav ul li {
    list-style: none;
    display: inline;
}

body > nav a {
    padding: 8px 4px;
    margin: 4px;
    text-shadow: 1px 1px 2px #336666;
}

body > nav a:hover,
body > nav a:active {
    color: Red;
}

/***************************************************************************/
/* site title */
#container > header {
    padding-top: 16px;
    padding-left: 16px;
}

#container > header h1 a {
    font-size: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #224444;
    text-shadow: 1px 1px 2px #fff;
}

#container > header p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #336666;
    text-shadow: 1px 1px 2px #fff;
}

/***************************************************************************/
/* each elements */
main a {
    color: Blue;
}

main a:hover, main a:active {
    color: Red;
    text-decoration: underline;
}

figure {
    overflow-x: scroll;
}
