:root {
    --base-color:  #ccffee;
    --base-secondary-color: #9cc;
    --base-border-color: #699;
    --font-color-default: #001018;
    --font-color-hyperlink: #069;
    --font-color-emphasis: brown;
    --default-width-of-sidebar: 256px;
}

/***************************************************************************/
/* reset default style */
address, article, aside, footer, header, h1, h2, h3, h4, h5, h6, main, nav, section,
blockquote, dd, div, dl, dt, figcaption, figure, hr, li, ol, p, pre, ul,
a, abbr, b, cite, code, em, kbd, mark, q, s, strong, u,
caption, col, colgroup, table, tbody, td, tfoot, th, thead, tr,
button, datalist, fieldset, form, input, label, legend, meter, optgroup, progress, select, textarea,
html, body {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    text-decoration: inherit;
    margin: 0;
    padding: 0;
    border: 0;
}

/***************************************************************************/
/* font setings */
body {
    /*
        https://willcloud.jp/knowhow/font-family/
        https://ics.media/entry/14087/
    */
    font-family: "Modified Yu Gothic", "Verdana", "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Modified Yu Gothic", "Meiryo", sans-serif;
    font-feature-settings: "pwid" 1; /* enable proportional metrics of OpenType font */
    font-size: 16px;
    color: var(--font-color-default);
}

@media only screen and (max-width: 869px) {
    body {
        font-size: 14px;
    }
}

body pre, body code, body kbd {
    font-family: "SFMono-Regular", "Consolas", "Courier New", "Meiryo", monospace !important;
}

 /* workaround for "Yu Gothic" (avoid "Yu Gothic Regular" in Google Chrome on Windows) */
@font-face { font-family: "Modified Yu Gothic"; src: local("Yu Gothic Medium"), local("YuGothic-Medium"); }
@font-face { font-family: "Modified Yu Gothic"; src: local("Yu Gothic Bold"),   local("YuGothic-Bold");   font-weight: bold; }

@font-face {
    /*
      https://fonts.google.com/specimen/Caveat
    */
    font-family: 'Caveat';
    src: url('Caveat-VariableFont_wght.ttf') format('woff2 supports variations'),
         url('Caveat-VariableFont_wght.ttf') format('woff2-variations');
    font-weight: 400 700;
}

body b, body strong {
    font-weight: bold;
    color: var(--font-color-emphasis);
}

body em, body i {
    font-style: italic;
}

body s {
    text-decoration: line-through;
}

body u {
    text-decoration: underline;
}

/***************************************************************************/
/* 2 column design (automatically fallback to 1 column for mobile devices) */
body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#container {
    flex-shrink: 1;
    min-width: 1px;
    max-width: calc(896px + 16px + var(--default-width-of-sidebar));
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 32px;
}

#container > header {
    flex-basis: 100%;
    flex-grow: 1;
}

#container > main {
    flex-basis: 896px;
    flex-grow: 999;
    flex-shrink: 1;
    min-inline-size: 1px; /* hack (I don't know why this works well) */
}

#container > aside {
    flex-basis: var(--default-width-of-sidebar);
    flex-grow: 1;
    flex-shrink: 0;
}

body > nav {
    order: -1;
    position: sticky;
    top: 0;
    width: 100%;
}

body > footer {
    width: 100%;
}

/***************************************************************************/
/* background */
body {
    background-color: var(--base-color);
}

/***************************************************************************/
/* search form */
.search_form {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 8px;
}

.search_form input {
    width: 100%;
    padding: 4px;
    border: 1px var(--base-border-color) solid;
}

.search_form button {
    width: calc(16px + 4px + 4px + 1px + 1px);
    padding: 4px;
    border: 1px var(--base-border-color) dotted;
    border-radius: 15%;
    box-shadow: 1px 1px 2px #333;
    background-color: white;
    cursor: pointer;
}

/***************************************************************************/
/* global navigation */
body > nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 36px;
    padding: 0 16px 8px 0;
    z-index: 10;
    background-color: var(--base-secondary-color);
    box-shadow: inset 0 -2px 4px var(--base-color);
    text-align: right;
}

body > nav > input {
    position: absolute;
    top: 4px;
    left: 16px;
    display: none;
}

body > nav > #menu_button {
    position: absolute;
    top: 8px;
    right: 16px;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 18;
    border-radius: 15%;
    background-color: #f0fcfc;
    box-shadow: 0 0 4px #cfe;
    cursor: pointer;
}

body > nav > #menu_button span,
body > nav > #menu_button span::before,
body > nav > #menu_button span::after {
    content: "";
    display: block;
    position: absolute;
    height: 3px;
    width: 24px;
    background-color: var(--base-secondary-color);
    transition: all 0.25s ease-in-out;
}

body > nav > #menu_button span::before {
    bottom: 8px;
}

body > nav > #menu_button span::after {
    top: 8px;
}

body > nav > #menu_checkbox:checked ~ #menu_button span {
    background-color: transparent;
}

body > nav > #menu_checkbox:checked ~ #menu_button span::before {
    bottom: 0;
    transform: rotate(45deg);
}

body > nav > #menu_checkbox:checked ~ #menu_button span::after {
    top: 0;
    transform: rotate(-45deg);
}

body > nav .global_nav_title {
    max-width: calc(896px + 16px + var(--default-width-of-sidebar));
    flex-basis: 896px;
    flex-grow: 999;
    flex-shrink: 1;
    padding-left: 16px;
    text-align: left;
    font-size: 32px;
    font-weight: bold;
    font-family: Caveat, Georgia, 'Times New Roman', Times, serif;
    color: #224444;
    text-shadow: 1px 1px 2px #cee;
    z-index: 15;
    visibility: hidden;
    opacity: 0; /* invisible */
    transition: all 0.5s ease-in-out;
}

body > nav .global_nav_title a {
    color: var(--font-color-default);
}

body > nav .global_nav_title a:hover,
body > nav .global_nav_title a:active {
    color: var(--font-color-default);
    text-decoration: none;
}

body > nav > div {
    width: 100%;
    margin-top: -256px;
    transition: all 0.25s ease-in-out;
}

body > nav > #menu_checkbox:checked ~ div {
    margin-top: 16px;
}

body > nav #global_nav_links li {
    list-style: none;
    display: inline;
}

body > nav #global_nav_links a {
    padding: 8px 4px;
    margin: 4px;
    color: var(--font-color-default);
    text-shadow: 1px 1px 2px #336666;
}

body > nav #global_nav_links a:hover,
body > nav #global_nav_links a:active {
    text-decoration: none;
    color: red;
}

body > nav .search_form {
    margin: 16px 0 8px 0;
}

body > nav .search_form input {
    max-width: 512px;
}

body > nav #global_nav_tags {
    margin-top: 16px;
    margin-bottom: 16px;
    flex-direction: row-reverse;
    row-gap: 16px;
}

/***************************************************************************/
/* site title */
#container > header {
    padding-top: 24px;
}

#container > header h1 a {
    font-size: clamp(16px, 16vw, calc(96px + 32px));
    font-family: Caveat, Georgia, 'Times New Roman', Times, serif;
    color: #224444;
    text-shadow: 1px 1px 2px #fff;
}

#container > header h1 a:hover,
#container > header h1 a:active {
    text-decoration: none;
}

#container > header p {
    margin-top: -16px;
    padding-left: 16px;
    font-size: clamp(16px, 5vw, 36px);
    font-family: Caveat, Georgia, 'Times New Roman', Times, serif;
    color: #336666;
    text-shadow: 1px 1px 2px #fff;
}

/***************************************************************************/
/* sidebar */
#sidebar section {
    margin-bottom: 16px;
    padding: 16px;
    background-color: #f9f9f9;
    border-radius: 16px;
    box-shadow: 2px 2px 4px #cee, -1px -1px 2px #cee;
    font-size: 14px;
}

#sidebar section h1 {
    margin-bottom: 8px;
    font-family: Caveat, Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
}

#sidebar section p {
    margin-bottom: 8px;
}

#sidebar section ul {
    margin-bottom: 8px;
    list-style: none;
}

#sidebar section li {
    margin-bottom: 8px;
}

#sidebar section img {
    max-width: min(100%, var(--default-width-of-sidebar));
}

.widget_search p {
    margin-top: 8px;
    margin-left: 4px;
    font-size: 9px;
}

.widget_links li::before,
.widget_intro li::before {
    /* https://unicode-table.com/en/sets/arrow-symbols/ */
    content: "\27A4  ";
    color: var(--base-border-color);
}

/***************************************************************************/
/* global footer */
body > footer {
    margin-top: 32px;
    padding: 32px;
    text-align: right;
    background-color: var(--base-secondary-color);
    box-shadow: inset 0 -2px 4px var(--base-color);
}

body > footer .powered_by {
    margin-top: 8px;
    font-size: 9px;
}

/***************************************************************************/
/* Archive / Category / Tag page */
main .archive_page h2 { /* YEAR label */
    width: 64px;
    height: 64px;
    margin-top: 32px;
    padding: 16px;
    border-radius: 50%;
    background-color: #99cccc;
    box-shadow: inset 0 -2px 4px var(--base-color);
    font-size: 24px;
    text-shadow: 1px 1px 2px #336666;
    line-height: 60px;
    text-align: center;
}

main .archive_page > ol {
    margin-left: calc(64px / 2 + 16px);
    padding-top: 1px; /* hacky (I don't know why this works well) */
    padding-bottom: 16px;
    border-left: 3px var(--base-border-color) dotted;
}

main .archive_page .banner {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    position: relative;
    margin-top: 16px;
    padding-left: calc(96px + 16px);
    list-style: none;
}

main .archive_page .banner h3 {
    padding-top: 4px;
    text-shadow: 1px 1px 2px #9cc;
}

main .archive_page .banner h3 a {
    color: var(--font-color-hyperlink);
}

main .archive_page .banner h3 a:hover,
main .archive_page .banner h3 a:active {
    text-decoration: none;
    color: red;
}

main .archive_page .banner h3 a::before { /* circle mark on the line */
    content: "";
    position: absolute;
    z-index: 1;
    top: 7px;
    left: -10px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
    border: 3px var(--base-border-color) dotted;
}

main .archive_page .banner h3 a:hover::before,
main .archive_page .banner h3 a:active::before {
    background-color: #ffcccc;
    box-shadow: inset 0 0 4px #fff;
}

main .archive_page .banner .post_date {
    position: absolute;
    top: 9px;
    left: 16px;
    font-size: 12px;
}

/***************************************************************************/
/* artiles */
main article {
    margin-bottom: 32px;
    padding: 16px;
    background-color: #f9f9f9;
    border-radius: 16px;
    box-shadow: 2px 2px 4px #cee, -1px -1px 2px #cee;
}

main article > header h1 {
    padding-bottom: 4px;
    border-bottom: 3px var(--base-border-color) dotted;
}

main article > header h1 a {
    font-size: 32px;
    color: #336;
    text-shadow: 1px 1px 2px #9cc;
}

main article > header h1 a:hover,
main article > header h1 a:active {
    text-decoration: none;
}

main article > header div {
    margin-top: 4px;
    margin-right: 8px;
    text-align: right;
    color: #666;
    font-weight: bold;
}

main article .post_content {
    padding-top: 16px;
    line-height: 1.6;
}

/*----------*/
main article > footer .post_categories {
    margin-top: 16px;
    display: flex;
}

main article > footer .post_categories::before {
    content: "Category: ";
}

main article > footer .post_categories li {
    display: inline;
    padding-left: 16px;
    list-style: none;
}

/*----------*/
main article > footer .post_tags {
    margin-top: 16px;
}

main article > footer .post_tags::before {
    content: "Tag: ";
}

/*----------*/
main article > footer {
    margin-top: 16px;
    margin-bottom: 16px;
    padding-top: 8px;
    border-top: 3px var(--base-border-color) dotted;
}

/***************************************************************************/
/* each elements */

body .post_tags {
    display: flex;
    flex-wrap: wrap;
}

body .post_tags li {
    display: inline;
    margin-left: 8px;
    border-top: 1px var(--base-border-color) solid;
    border-right: 1px var(--base-border-color) solid;
    border-bottom: 1px var(--base-border-color) solid;
    border-left: 5px var(--base-border-color) solid;
    background-color: #f0f0f0;
    list-style: none;
}

body .post_tags a {
    display: block;
    padding: 4px 8px;
    color: #336;
    text-shadow: 1px 1px 2px #9cc;
}

body .post_tags a:hover,
body .post_tags a:active {
    text-decoration: none;
    background-color: #ffecec;
}

/*----------*/
body a {
    color: var(--font-color-hyperlink);
    word-break: break-word; /* workaround for long raw URL (autolink) */
}

body a:hover,
body a:active {
    color: Red;
    text-decoration: underline;
}

/*----------*/
main article .post_content p {
    max-width: 50rem;
    margin-bottom: 16px;
}

main article .post_content h1 {
    margin-bottom: 16px;
}

main article .post_content h2 {
    margin-top: 32px;
    margin-bottom: 16px;
    padding-top: 8px;
    padding-left: 16px;
    border-top: 3px var(--base-border-color) dotted;
    border-left: 9px var(--base-border-color) dotted;
    font-size: 24px;
    font-weight: bold;
}

main article .post_content h3 {
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: bold;
}

main article .post_content h3::before {
    content: "\2663  "; /* Black Club Suit Emoji https://unicode-table.com/en/2663/ */
    font-size: 36px;
    vertical-align: -1px;
}

main article .post_content h4 {
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: bold;
}

main article .post_content h4::before {
    content: "\2660  "; /* Black Spade Suit Emoji https://unicode-table.com/en/2660/ */
    font-size: 36px;
    vertical-align: -1px;
}

main article .post_content h5 {
    margin-bottom: 16px;
    font-weight: bold;
}

main article .post_content h5::before {
    content: "\2726  "; /* Black Four Pointed Star https://unicode-table.com/en/2726/ */
    font-size: 24px;
    vertical-align: -2px;
}

main article .post_content h6 {
    margin-bottom: 16px;
    font-weight: bold;
}

main article .post_content ul,
main article .post_content ol,
main article .post_content dl {
    margin-left: 24px;
    margin-bottom: 16px;
}

main article .post_content img {
    max-width: calc(100% - 1px - 1px);
    margin-bottom: 16px;
    border: 1px var(--base-border-color) dotted;
}

main article .post_content > pre {
    padding-left: 4px;
}

main article .post_content > pre,
main article .post_content figure {
    margin-bottom: 16px;
    border: 1px var(--base-border-color) dotted;
    background-color: #f0f0f0;
    font-size: 12px;
    overflow-x: auto;
}

main .highlight .gutter { /* line numbers for highlight.js */
    padding-right: 4px;
    padding-left: 4px;
    border-right: 1px var(--base-border-color) dotted;
    text-align: right;
    color: var(--base-border-color);
}

main article .post_content pre code.hljs {
    width: calc(100% - 4px);
    padding: 0 0 0 4px; /* overwrite highlight.js */
}

main article .post_content pre[class*=language-] code {
    display: block;
    text-shadow: none; /* overwrite prism.js */
}

main article .post_content pre[class*=language-] {
    padding: 0 0 0 4px; /* overwrite prism.js */
}

main article .post_content pre[class*=language-].line-numbers {
    padding: 0 0 0 3.8em; /* overwrite prism.js */
}

main article .post_content pre[class*=language-] code.language-bash-prompt .token.prompt,
main article .post_content pre[class*=language-] code.language-cmd-prompt .token.prompt,
main article .post_content pre[class*=language-] code.language-powershell-prompt .token.prompt {
    /* customize Prism.js with "wakaba.js" */
    font-weight: bold;
    color: red;
    user-select: none; /* prevent user from selecting string */
}

main article .post_content pre[class*=language-] code.language-bash-prompt .token.command-line,
main article .post_content pre[class*=language-] code.language-cmd-prompt .token.command-line,
main article .post_content pre[class*=language-] code.language-powershell-prompt .token.command-line {
    /* customize Prism.js with "wakaba.js" */
    color: var(--font-color-emphasis);
}

main article p kbd,
main article p code {
    padding: 1px 4px;
    background-color: #e0f0f0;
}

main article .post_content blockquote {
    margin-bottom: 16px;
    margin-left: 16px;
    padding: 8px;
    border-left: 3px double var(--base-border-color);
    color: #666;
}

main article .post_content blockquote footer strong::before {
    content: "\2E3B  "; /* Three-Em Dash https://unicode-table.com/en/2E3B/ */
}

main article .post_content blockquote footer strong::after {
    content: " / ";
}

/*----------*/
.index_pagenation,
.post_pagenation {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.index_pagenation p:nth-child(1),
.post_pagenation p:nth-child(1) {
    flex-grow: 1;
    text-align: right;
}

.index_pagenation p:nth-child(3),
.post_pagenation p:nth-child(3) {
    flex-grow: 1;
    text-align: left;
}

.index_pagenation p:nth-child(2),
.post_pagenation p:nth-child(2) {
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 5rem;
    padding: 0 16px;
    border-left: 3px var(--base-border-color) solid;
    border-right: 3px var(--base-border-color) solid;
}
